@page
@model PRN221_Group3_Project_HotelManagement.Pages.Rooms.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete room</h1>
<hr />

<div>
    <dl class="row">
       <dt class="col-sm-2">
            <img src="@Html.DisplayFor(model => model.RoomHotel.RoomImage)" style="width:220px;height:140px" alt="Image room"/>
        </dt>
        <dd class="col-sm-10">
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.RoomHotel.RoomName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.RoomHotel.RoomName)
        </dd>
        <dt class="col-sm-2">
            Bed
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.RoomHotel.RoomBed) @(Model.RoomHotel.RoomBed > 1 ? "beds" : "bed")
        </dd>
        <dt class="col-sm-2">
            Description
        </dt>
        <dd class="col-sm-10">
            <i>@Html.DisplayFor(model => model.RoomHotel.RoomDesc)</i>
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.RoomHotel.RoomPrice) 
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.RoomHotel.RoomPrice) <span style="color:red">$</span>
        </dd>
        <dt class="col-sm-2">
            Status
        </dt>
        <dd class="col-sm-10">
            @if (Model.RoomHotel.RoomStatus == 1)
            {
                    <span style="color:forestgreen">Active</span>
            }
            else
            {
                    <span style="color:red">Deactive</span>
            }
        </dd>
        <dt class="col-sm-2">
            TypeName
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TypeRoom.TypeName)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="RoomHotel.RoomId" />
        <input type="submit" value="Delete" class="btn btn-danger" title="Delete room"/>
        <button class="btn btn-primary"><a asp-page="./Index" style="color:white; text-decoration:none" title="Back list room">Back to List</a></button>
    </form> 
</div>
