@page
@model PRN221_Group3_Project_HotelManagement.Pages.Rooms.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit room</h1>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Room_Hotel.RoomId" />

            <div class="form-group mb-2">
                <img src="@ViewBag.ImageRoom" id="img_preview" style="width:200px;height:150px" alt="Image room"/>
            </div>
            <div class="form-group">
                <label class="control-label">Upload Image</label>
                <input type="file" id="img_upload" name="img_upload" accept="image/*" value="@ViewBag.ImageRoom" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="Room_Hotel.RoomName" class="control-label"></label>
                <input asp-for="Room_Hotel.RoomName" class="form-control" />
                <span asp-validation-for="Room_Hotel.RoomName" class="text-danger"></span>
            </div>
            @*---OR---
            <div class="form-group">
                <label class="control-label">Image URL</label>
                <input asp-for="RoomHotel.RoomImage" class="form-control" />
                <span asp-validation-for="RoomHotel.RoomImage" class="text-danger"></span>
            </div>*@
            <div class="form-group">
                <label asp-for="Room_Hotel.RoomBed" class="control-label"></label>
                <input asp-for="Room_Hotel.RoomBed" min="0" class="form-control" />
                <span asp-validation-for="Room_Hotel.RoomBed" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Room_Hotel.RoomDesc" class="control-label"></label>
                <input asp-for="Room_Hotel.RoomDesc" class="form-control" />
                <span asp-validation-for="Room_Hotel.RoomDesc" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Room_Hotel.RoomPrice" class="control-label"></label>
                <input asp-for="Room_Hotel.RoomPrice" min="1" class="form-control" />
                <span asp-validation-for="Room_Hotel.RoomPrice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.Status class="control-label"></label>
                <select asp-for="@Model.Status" class="form-control" asp-items="ViewBag.StatusRoom"></select>
                <span asp-validation-for="@Model.Status" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Room_Hotel.TypeId" class="control-label"></label>
                <select asp-for="Room_Hotel.TypeId" class="form-control" asp-items="ViewBag.TypeId"></select>
                <span asp-validation-for="Room_Hotel.TypeId" class="text-danger"></span>
            </div>
            <div class="form-group mt-4">
                <input type="submit" value="Save" class="btn btn-primary" title="Save room"/>
                <button class="btn btn-primary"><a asp-page="./Index" style="color:white; text-decoration:none" title="Back list room">Back to List</a></button>
            </div>
        </form>
    </div>
</div>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    @if (Model.Message != null)
    {
         <script>       
             swal({       
                 title: "Updated successfully!",       
                 text: "Let's click to 'OK' to show updated room!",       
                 icon: "success",       
                 button: "OK",       
             });       
         </script>       
    }
}
