@page
@model PRN221_Group3_Project_HotelManagement.Pages.Rooms.IndexModel
@using Microsoft.AspNetCore.Http;

@{
    ViewData["Title"] = "Rooms";
}

<div class="row">
    <div class="col-9">
        <h1><a asp-area="" asp-page="/Rooms/Index" style="color:black;text-decoration:none" title="Reload page">List rooms</a></h1>
    </div>
    <div class="col-3">
        <form method="get">
            <div class="py-3 d-flex justify-content-end align-content-end">
                <input asp-for="@Model.Search" class="form-control me-1"/>
                <button class="btn btn-primary" type="submit" title="Searching">Search</button>
            </div>
        </form>
    </div>
</div>

<p>
    <button class="btn btn-primary"><a asp-page="Create" style="color:white; text-decoration:none" title="Add new room">Add New</a></button>
</p>

<table class="table table-bordered table-hover table-light">
    <thead>
        <tr>
            <th>
                RoomName
            </th>
            <th>
                Image
            </th>
            <th>
                Bed
            </th>
            <th>
                Description
            </th>
            <th>
                RoomPrice
            </th>
            <th>
                Status
            </th>
            <th>
                TypeName
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.RoomHotel) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.RoomName)
            </td>
            <td>
                <img src="@Html.DisplayFor(modelItem => item.RoomImage)" style="width:190px;height:140px" alt="Image room"/>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RoomBed) @(item.RoomBed > 1 ? "beds" : "bed")
            </td>
            <td>
                <i>@Html.DisplayFor(modelItem => item.RoomDesc)</i>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RoomPrice) <span style="color:red">$</span>
            </td>
            <td>
                    @if (item.RoomStatus == 1)
                    {
                        <span style="color:forestgreen">Active</span>
                    }
                    else
                    {
                        <span style="color:red">Deactive</span>
                    }
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Type.TypeName)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.RoomId" style="text-decoration:none; font-weight:bold" title="Edit room">Edit</a>
                <a asp-page="./Details" asp-route-id="@item.RoomId" style="text-decoration:none; font-weight:bold" title="View room">Detail</a>
                <a asp-page="./Delete" asp-route-id="@item.RoomId" style="text-decoration:none; font-weight:bold" title="Delete room">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
@section Scripts {
    @if (Model.Room != null)
    {
        <script>       
             swal({       
                 title: "Operation @Model.Room.RoomName room successfully!",       
                 text: "Let's click to 'OK' to return list rooms!",       
                 icon: "success",       
                 button: "OK",       
             }).then(function () {
                 window.location = "/Rooms/Index";       
             });       
        </script>
        HttpContext.Session.Remove("operate");
    }
}
