@page
@model PRN221_Group3_Project_HotelManagement.Pages.Profile.IndexModel
@{
}
<style>
    .img-account-profile {
        height: 10rem;
        object-fit: cover;
        aspect-ratio: 1/1;
    }

    .rounded-circle {
        border-radius: 50% !important;
    }

    .card {
        box-shadow: 0 0.15rem 1.75rem 0 rgb(33 40 50 / 15%);
    }

        .card .card-header {
            font-weight: 500;
        }

    .card-header:first-child {
        border-radius: 0.35rem 0.35rem 0 0;
    }

    .card-header {
        padding: 1rem 1.35rem;
        margin-bottom: 0;
        background-color: rgba(33, 40, 50, 0.03);
        border-bottom: 1px solid rgba(33, 40, 50, 0.125);
    }

    .form-control,
    .dataTable-input {
        display: block;
        width: 100%;
        padding: 0.875rem 1.125rem;
        font-size: 0.875rem;
        font-weight: 400;
        line-height: 1;
        color: #69707a;
        background-color: #fff;
        background-clip: padding-box;
        border: 1px solid #c5ccd6;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        border-radius: 0.35rem;
        transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    }

    .nav-borders .nav-link.active {
        color: #0061f2;
        border-bottom-color: #0061f2;
    }

    .nav-borders .nav-link {
        color: #69707a;
        border-bottom-width: 0.125rem;
        border-bottom-style: solid;
        border-bottom-color: transparent;
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
        padding-left: 0;
        padding-right: 0;
        margin-left: 1rem;
        margin-right: 1rem;
    }
</style>
<!-- phone name image wallet -->
<div class="container-xl px-4 mt-4">
    <!-- Account page navigation-->
    <hr class="mt-0 mb-4">
    <div class="row">
        <div class="col-xl-4 mb-3">
            <!-- Profile picture card-->
            <div class="card mb-4 mb-xl-0 h-100">
                <div class="card-header">Profile Picture</div>
                <div class="card-body text-center">
                    <!-- Profile picture image-->
                    @{
                        var img_profile = "/images/users/default.png";
                        if (!String.IsNullOrWhiteSpace(Model.img_profile))
                        {
                            img_profile = Model.img_profile;
                        }
                    }
                    <img class="img-account-profile rounded-circle mb-2"
                         src="@img_profile" alt="" id="img_profile">
                    <!-- Profile picture help block-->
                    <div class="small font-italic text-muted mb-4"></div>
                    <!-- Profile picture upload button-->
                    @Html.AntiForgeryToken()
                    <input hidden type="file" id="user_img" name="user_img" accept="image/*">
                    <button class="btn btn-primary" id="btn_upload" type="button">Upload new image</button>
                    <div id="btn_wrapper" style="display: none;">
                        <button class="btn btn-primary" id="cancel_img" type="button">Cancel</button>
                        <button class="btn btn-primary" id="change_img" type="button">Change Image</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-8 mb-3">
            <!-- Account details card-->
            <div class="card mb-4 h-100">
                <div class="card-header">My Profile</div>
                <div class="card-body pb-0">
                    <form id="form_profile">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <!-- Form Group (username)-->
                        <div class="mb-3">
                            <label class="small mb-1" for="user_name">Username (*)</label>
                            <input class="form-control" asp-for="@Model.user_name">
                            <span asp-validation-for="@Model.user_name" class="text-danger"></span>
                        </div>
                        <div class="row gx-3 mb-3">
                            <!-- Form Group (phone number)-->
                            <div class="col-md-6">
                                <label class="small mb-1" for="user_name">Phone number (*)</label>
                                <input class="form-control" asp-for="@Model.user_phone">
                                <span asp-validation-for="@Model.user_phone" class="text-danger"></span>
                            </div>
                            <!-- Form Group (Wallet)-->
                            <div class="col-md-6">
                                <label class="small mb-1" for="user_wallet">Wallet ($)</label>
                                <input class="form-control" readonly asp-for="@Model.user_wallet">
                            </div>
                            <input asp-for="@Model.user_id" hidden />
                        </div>
                        <!-- Save changes button-->
                        <div style="margin-top: 25px;" class="d-flex justify-content-center">
                            <button class="btn btn-primary me-1" type="reset">Cancel</button>
                            <button class="btn btn-primary" type="button" id="edit_profile">Save Changes</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-xl-4"></div>
        <div class="col-xl-8">
            <!-- Account change password-->
            <div class="card mb-4">
                <div class="card-header">Chane Password</div>
                <div class="card-body">
                    <form id="form_password">
                        <input asp-for="@Model.user_id" hidden />
                        <!-- Form Group (password)-->
                        <div class="mb-3">
                            <label class="small mb-1" for="current_pass">Current password (*)</label>
                            <input class="form-control" asp-for="@Model.current_password">
                            <span asp-validation-for="@Model.current_password" class="text-danger"></span>
                        </div>
                        <div class="mb-3">
                            <label class="small mb-1" for="new_pass">New password (*)</label>
                            <input class="form-control" asp-for="@Model.new_password">
                            <span asp-validation-for="@Model.new_password" class="text-danger"></span>
                        </div>
                        <div class="mb-3">
                            <label class="small mb-1" for="confirm_pass">Confirm new password (*)</label>
                            <input class="form-control" asp-for="@Model.confirm_pass">
                            <span asp-validation-for="@Model.confirm_pass" class="text-danger"></span>
                        </div>
                        <!-- Save changes button-->
                        <div class="d-flex justify-content-center">
                            <button class="btn btn-primary" type="button" id="change_password">Change Password</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
@section scripts{
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script src="~/js/profile.js"></script>
}
